# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

addons:
  chrome: stable # https://docs.travis-ci.com/user/chrome

# Chrome Webdriver fails if not on sudo
# See https://github.com/travis-ci/travis-ci/issues/8836
sudo: required

dist: trusty # Chrome driver fails if not trusty dist

notifications:
  email: false

language: python

matrix:
  fast_finish: true

cache:
  - pip

services:
  - docker

env:
  global:
    # Print screenshots to console output
    - E2E_OUTPUT=base64
    # Enable end-to-end tests
    - E2E=no
    # Force pipenv to create a new virtualenv to bypass travis virtualenv.
    - PIPENV_IGNORE_VIRTUALENVS=1

  matrix:
    - COOKIECUTTER_DATABASE=postgresql COOKIECUTTER_ELASTICSEARCH=7 E2E=yes
    - COOKIECUTTER_DATABASE=mysql COOKIECUTTER_ELASTICSEARCH=7 E2E=yes
    - COOKIECUTTER_DATABASE=postgresql COOKIECUTTER_ELASTICSEARCH=6
    - COOKIECUTTER_DATABASE=mysql COOKIECUTTER_ELASTICSEARCH=7 COOKIECUTTER_DATAMODEL=None

python:
  - "3.6"

before_install:
  # Stop the services running by default on travis
  - "sudo service mysql stop"
  - "sudo service postgresql stop"
  # Chrome webdriver for Selenium
  - "PATH=$PATH:$HOME/webdrivers"
  - "if [ ${E2E} == 'yes' ] && [ ! -f $HOME/webdrivers/chromedriver ]; then wget https://chromedriver.storage.googleapis.com/2.31/chromedriver_linux64.zip -P $HOME/webdrivers; unzip -d $HOME/webdrivers $HOME/webdrivers/chromedriver_linux64.zip; fi"
  - "nvm install 6; nvm use 6"
  - "travis_retry pip install --upgrade pip setuptools py pipenv"
  - "travis_retry pip install cookiecutter twine wheel coveralls sphinx"

before_script:
  # https://docs.travis-ci.com/user/gui-and-headless-browsers/
  - "export DISPLAY=:99.0"
  - "if [ ${E2E} == 'yes' ]; then sh -e /etc/init.d/xvfb start; sleep 3; fi"

script:
  - "./run-tests.sh"

after_success:
  - coveralls
