{% include 'misc/header.py' %}
# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pipenv install --dev # or you can also run ./scripts/bootstrap
#  pipenv run check-manifest -u

# Check manifest will not automatically add these two files:
include .dockerignore
include .editorconfig
include .tx/config
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include {{ cookiecutter.package_name }} *.po *.pot *.mo
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
