{% include 'misc/header.py' %}

# Add here the pinned requirements for {{ cookiecutter.project_name }}

# Invenio common
invenio-app==
invenio-base==
invenio-db[{{ cookiecutter.database }},versioning]==
invenio-celery==
invenio-config==
invenio-search[{{ cookiecutter.database }}]==
invenio-i18n==

# Invenio Base bundle
invenio-admin==
invenio-assets==
invenio-formatter==
invenio-logging==
invenio-mail==
invenio-rest==
invenio-theme==

# Invenio Auth bundle
invenio-access==
invenio-accounts==
invenio-oauth2server==
invenio-oauthclient==
invenio-userprofiles==

# Invenio Metadata bundle
invenio-indexer==
invenio-jsonschemas==
invenio-oaiserver==
invenio-pidstore==
invenio-records-rest==
invenio-records-ui==
invenio-records==
invenio-search-ui==

# Other
Flask==
