{% include 'misc/header.py' -%}
# This file will include pinned versions of packages
# TODO: Generate this file by running the following commands:
#
# pip install -e .
# pip install pip-tools
# pip-compile
#
# You can read more about pip-compile command here:
# https://github.com/jazzband/pip-tools#example-usage-for-pip-compile
